.fx-relay-menu-body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--colorWhite);
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: var(--fontStackBase);
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

.fx-relay-menu-body.is-premium.is-loading {
  background-color: var(--colorWhite);
}

.fx-relay-menu-body.is-premium {
  background-color: var(--colorGrey05);
}

.is-premium .fx-relay-menu-header {
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: var(--borderRadiusSm);
  background-color: var(--colorWhite);
}

.is-premium .fx-relay-menu-header-logo-bar {
  position: relative;
  /* The z-index is necessary here to have the box-shadow above the rest of the content */
  z-index: 1;
}

.fx-relay-menu-body *,
.fx-relay-menu-body *:before,
.fx-relay-menu-body *:after {
  box-sizing: inherit;
}

.fx-relay-menu-header {
  border-bottom: 1px solid var(--colorGrey10);
}

.fx-relay-menu-header-logo-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacingSm);
}

.fx-relay-menu-logo {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacingSm);
}

.fx-relay-menu-logo-image-fx-relay {
  width: 26px;
}

.fx-relay-menu-logo-text {
  width: 94px;
}

.fx-relay-menu-dashboard-link {
  padding: var(--spacingXs);
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
}

.fx-relay-menu-dashboard-link:hover,
.fx-relay-menu-dashboard-link:focus {
  background-color: var(--colorGrey10);
  border-radius: 100%;
}

.fx-relay-menu-dashboard-link .fx-relay-menu-dashboard-link-tooltip {
  display: none;
  color: var(--colorWhite);
  background-color: var(--colorGrey40);
  border-radius: var(--borderRadiusSm);
  padding: var(--spacingXs) var(--spacingSm);
  position: absolute;
  top: calc(100% + var(--spacingXs));
  right: 0;
}

.fx-relay-menu-dashboard-link:hover .fx-relay-menu-dashboard-link-tooltip,
.fx-relay-menu-dashboard-link:focus .fx-relay-menu-dashboard-link-tooltip,
.fx-relay-menu-dashboard-link:focus-visible .fx-relay-menu-dashboard-link-tooltip {
  display: block;
  margin: 0 var(--spacingXs);
}

/* Main Content */
.fx-relay-menu {
  padding: 0;
  position: relative;
}

.fx-relay-menu-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--spacingMd) var(--spacingMd);
  gap: var(--spacingMd);
}

.fx-relay-menu-content.fx-content-signed-in-premium {
  padding: 0;
}

.fx-relay-menu-content.is-hidden {
  display: none;
}

.fx-relay-menu-content p {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Mask List */

.fx-relay-menu-masks-lists {
  display: none;
}

.fx-relay-menu-masks-lists.is-visible {
  display: flex;
  flex-direction: column;
  gap: var(--spacingMd);
}

/* Edge case for premium users where both "from this website" and "all mask" lists are visible at the same time */
.fx-relay-menu-masks-search .fx-relay-menu-masks-list.is-visible + .fx-relay-menu-masks-list.is-visible {
  display: none;
}

.fx-relay-menu-masks-list {
  border-radius: var(--borderRadiusSm);
  background-color: var(--colorGrey10);
  overflow: hidden;
  display: none;
}

.fx-relay-menu-masks-list.is-visible {
  display: block;
}

.fx-relay-menu-masks-list.t-website {
  border-radius: var(--borderRadiusSm);
  background-color: var(--colorWhite);
  outline: 2px solid var(--colorBlue50);
}

.fx-relay-menu-masks-list.t-website span {
  border-bottom: 1px solid var(--colorGrey10);
}

.fx-relay-menu-masks-list.t-website button {
  color: var(--colorBlue50);
}

.fx-relay-menu-masks-list.t-search {
  border-radius: 0;
  background-color: transparent;
  outline: 0;
  margin-bottom: 0;
}

.fx-relay-menu-masks-list.t-search ul li {
  border-bottom: 1px solid var(--colorGrey10);
}

.fx-relay-menu-masks-list.t-search ul li:last-child {
  border-bottom: none;
}

.fx-relay-menu-masks-list > span {
  border-bottom: 1px solid var(--colorGrey20);
  padding: var(--spacingSm);
  font-size: 12px;
  line-height: 1rem;
  text-align: center;
  display: block;
  color: var(--colorGrey50);
}

.fx-relay-menu-masks-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fx-relay-menu-masks-list li {
  display: block;
  width: 100%;
}

.fx-relay-menu-masks-list li.is-hidden {
  display: none;
}

.fx-relay-menu-masks-list button {
  appearance: none;
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  padding: var(--spacingSm) var(--spacingMd);
  cursor: pointer;
  text-align: start;
  overflow: hidden;
  position: relative;
}

.fx-relay-menu-masks-list button.is-loading::before {
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--colorViolet10);
  content: "";
  left: 0;
  top: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  transition-timing-function: linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fx-relay-menu-masks-list button.is-loading::after {
  content: url(/icons/button-loading-dark.svg);
  position: absolute;
  /* Z-index: This block overlays the button's content with a spinning circle. The z-index get's it over that content. */
  z-index: 1;
  display: block;
  animation-name: fx-relay-loader-spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 24px;
  width: 24px;
  left: 50%;
  top: 50%;
  /* This is an older centering trick, which is half of the heigh/width. transform did not work as expected. */
  margin-left: -12px;
  margin-top: -12px;
  
}

.fx-relay-menu-masks-list button:hover {
  background-color: var(--colorViolet10);
}

.fx-relay-menu-masks-list button:focus {
  background-color: var(--colorViolet05);
}

.fx-relay-menu-masks-list li.fx-relay-menu-masks-list-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacingSm);
}

.fx-relay-menu-masks-list-loading img {
  width: 24px;
  height: 24px;
  display: inline-block;
}

/* Premium: Filter by Active Site */
.fx-relay-menu-filter-active-site {
  display: none;
  overflow: hidden;
}

.fx-relay-menu-filter-active-site.is-visible {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.fx-relay-menu-filter-active-site-button {
  --fxRelayMenuFilterActiveSiteButtonBorderHeight: 3px;
  width: 50%;
  background: transparent;
  appearance: none;
  outline: none;
  border: none;
  border-bottom: var(--fxRelayMenuFilterActiveSiteButtonBorderHeight) solid transparent;
  color: var(--colorGrey50);
  text-align: center;
  padding: var(--spacingMd) 0;
  position: relative;
  font-weight: 500;
  cursor: pointer;
}

/* This adds a thin, vertical line seperating the two "From this website" and "All email masks" tabs. (For premium users) */
.fx-relay-menu-filter-active-site-button + .fx-relay-menu-filter-active-site-button::after {
  content: "";
  top: 0;
  left: 0;
  width: 1px;
  height: calc(100% + var(--fxRelayMenuFilterActiveSiteButtonBorderHeight));
  /* Z-index: Needed to appear over the tabs section */
  z-index: 1;
  background-color: var(--colorGrey20);
  position: absolute;
}

.fx-relay-menu-filter-active-site-button.is-active {
  color: var(--colorBlue50);
  border-bottom-color: var(--colorBlue50);
}

.fx-relay-menu-filter-active-site-button:hover, .fx-relay-menu-filter-active-site-button:focus {
  color: var(--colorBlue50);
}

/* Premium Search List */
.fx-relay-menu-masks-search {
  background-color: var(--colorGrey05);
  padding: var(--spacingSm) 0 0;
}

.fx-relay-menu-masks-search.is-hidden {
  display: none;
}

.fx-relay-menu-masks-search-form {
  padding: var(--spacingXs) var(--spacingSm);
  margin-bottom: var(--spacingSm);
  position: relative;
  display: none;
}

.fx-relay-menu-masks-search-form.is-visible {
  display: block;
}

.fx-relay-menu-masks-search .fx-relay-menu-masks-list.t-no-search-bar ul {
  max-height: none;
  overflow: visible;
}

.fx-relay-mask-list-toggle-height .fx-relay-menu-masks-search .fx-relay-menu-masks-list ul {
  max-height: 140px;
}

.fx-relay-menu-masks-search .fx-relay-menu-masks-list ul {
  height: 190px;
  overflow-y: scroll;
  scrollbar-width: thin;
  list-style: none;
  margin: 0;
  padding: 0 0 var(--spacingSm);
}

.fx-relay-menu-masks-search-result-label {
  font-size: 12px;
  display: block;
  color: var(--colorGrey50);
  /* This usage of pointer-events: none is necessary so when a user clicks on a result in the mask list, it clicks through to the parent element, which contains the information on which address to inject into the email input on page */
  pointer-events: none;
}

.fx-relay-menu-masks-search-result-address {
  font-size: 14px;
  font-weight: 500;
  color: var(--colorGrey60);
  /* This usage of pointer-events: none is necessary so when a user clicks on a result in the mask list, it clicks through to the parent element, which contains the information on which address to inject into the email input on page */
  pointer-events: none;
}

.fx-relay-menu-content-footer {
  background-color: var(--colorWhite);
  padding: var(--spacingMd);
  border-radius: var(--borderRadiusSm);
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.13);
}

/* Page Loader */
.fx-relay-menu-loading-bar {
  width: 100%;
  height: 5px;
  position: relative;
  overflow: hidden;
  display: none;
}

.fx-relay-menu-loading-bar-wrapper {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 1px;
}

.fx-relay-menu-loading-bar-border {
  height: 100%;
  width: 100%;
  position: relative;
  left: -50%;
  top: -50%;
  padding: 0;
  background-color: var(--colorViolet20);
  padding: 0;
}

.fx-relay-menu-loading-bar-whitespace {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.fx-relay-menu-loading-bar-line {
  position: absolute;
  height: 100%;
  width: 60%;
  background-color: var(--colorViolet70);
  animation: cssload-slide 1s ease-in-out infinite;
}

@keyframes cssload-slide {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

.is-loading .fx-relay-menu-loading-bar {
  display: block;
}

.is-loading .fx-relay-menu {
  min-height: 200px;
}

.is-loading .fx-relay-menu-content {
  visibility: hidden;
}
