.fx-relay-modal-body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--colorWhite);
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: var(--fontStackBase);
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 8px;
}

.flexbox {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.description {
  padding: 6px;
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.description > * {
  margin: 0;
  line-height: 120%;
  font-size: 13px;

}

.headline {
  padding-top: 6px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.footer > * {
  font-size: 14px;
}

.masks-left {
  padding-top: 6px;
  font-weight: 600;
}

.get-unlimited {
  background: transparent;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.close {
  color: gray;
  margin: 0;
}

.recommended {
  align-self: start;
  background: #9059FF;
  color: white;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding: 6px 8px;
  line-height: 100%;
  align-self: left;
  border-radius: 4px;
}
.maxxuardo {
  width: 120px;
  padding-right: 8px;
  border-right: 1px solid #eee;
}

.fx-relay-modal-body *,
.fx-relay-modal-body *:before,
.fx-relay-modal-body *:after {
  box-sizing: inherit;
}