.fx-relay-modal-body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--colorWhite);
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: var(--fontStackBase);
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 8px;
}

.flexbox {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.description {
  padding: 8px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.description > * {
  margin: 0;
  line-height: 120%;
}

.headline {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.body {
  font-size: 14px;

}

.recommended {
  align-self: start;
  background: #9059FF;
  color: white;
  text-transform: uppercase;
  font-size: 0.70em;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 5px;
  line-height: 100%;
  align-self: left;
  border-radius: 3px;
}
.maxxuardo {
  width: 120px;
  padding-right: 8px;
  border-right: 1px solid #eee;
}

.fx-relay-modal-body *,
.fx-relay-modal-body *:before,
.fx-relay-modal-body *:after {
  box-sizing: inherit;
}