.fx-relay-menu-body {
  --relayBlue3: #0060df;
  --relayBlue4: #0250bb;
  --relayBlueHover: #003eaa;
  --relayBlueActive: #002275;
  --relayButtonFocus: 0 0 1px 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
  --relayFxGradient: linear-gradient(
    -90deg,
    #ff9100 0%,
    #f10366 50%,
    #6173ff 100%
  );
  --relayGrey10: #e7e7e7;
  --relayGrey20: #ededf0;
  --relayGrey30: #d7d7db;
  --relayGrey40: #b1b1b3;
  --relayGrey50: #737373;
  --relayGrey60: #4a4a4f;
  --relayGrey70: #38383d;
  --relayGrey80: #2a2a2e;
  --relayGrey90: #0c0c0d;
  --relayInk: #20123a;
  --relayInk70: #363959;
  --relayMetropolisBold: "Metropolis Bold", "SF Pro Text", "Segoe UI", Roboto,
    "Open Sans", sans-serif;
  --relayMetropolisMedium: "Metropolis Medium", "SF Pro Text", "Segoe UI",
    Roboto, "Open Sans", sans-serif;
  --relayMetropolisLight: "Metropolis Light", "SF Pro Text", "Segoe UI", Roboto,
    "Open Sans", sans-serif;
  --relayInterUiRegular: "InterUI Regular", "SF Pro Text", "Segoe UI", Roboto,
    "Open Sans", sans-serif;
  --relayIconDimension: 30px;
  --relayViolet: #9059ff;

  font-family: open-sans, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 16px;
}

.fx-relay-menu-body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--colorWhite);
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: var(--relayInterUiRegular);
  font-size: 16px;
}

.fx-relay-menu-body.is-premium  {
  background-color: var(--colorGrey10);
}

.is-premium .fx-relay-menu-header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  background-color: var(--colorWhite);
}

.fx-relay-menu-body *,
.fx-relay-menu-body *:before,
.fx-relay-menu-body *:after {
  box-sizing: inherit;
}

.fx-relay-menu-header {
  padding: 8px;
  border-bottom: 1px solid var(--relayGrey20);
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}

.fx-relay-menu-logo {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.fx-relay-menu-logo img {
  /* transform: scale(1.2); */
}

.fx-relay-menu-dashboard-link {
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.fx-relay-menu-dashboard-link span {
  display: none;
}

.fx-relay-menu-dashboard-link:hover,
.fx-relay-menu-dashboard-link:focus {
  background-color: var(--relayGrey20);
}

.fx-relay-menu-dashboard-link:hover span,
.fx-relay-menu-dashboard-link:focus span {
  display: block;
  margin: 0 4px;
}

/* Main Content */
.fx-relay-menu {
  padding: 0;
}

.fx-relay-menu-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px 16px 0;
}

.fx-relay-menu-content.fx-content-signed-in-premium{
  padding: 0;
}

.fx-relay-menu-content.is-hidden {
  display: none;
}

.fx-relay-menu-content p {
  margin: 0 0 16px;
  padding: 0;
  text-align: center;
}

/* Mask List */

.fx-relay-menu-masks-lists {
  margin-top: 8px;
}

.fx-relay-menu-masks-list {
  border-radius: 4px;
  background-color: var(--colorGrey10);
  margin-bottom: 16px;
  overflow: hidden;
}

.fx-relay-menu-masks-list.t-website {
  border-radius: 4px;
  background-color: var(--colorWhite);
  outline: 2px solid var(--colorBlue50);
}

.fx-relay-menu-masks-list.t-website span {
  border-bottom: 1px solid var(--colorGrey10);
}

.fx-relay-menu-masks-list.t-website button {
  color: var(--colorBlue50);
}

.fx-relay-menu-masks-list span {
  border-bottom: 1px solid var(--colorGrey20);
  padding: 8px;
  font-size: 12px;
  line-height: 1rem;
  text-align: center;
  display: block;
  color: var(--colorGrey50);
}

.fx-relay-menu-masks-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fx-relay-menu-masks-list li {
  display: block;
  width: 100%;
}

.fx-relay-menu-masks-list button {
  appearance: none;
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 8px 16px;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
}

.fx-relay-menu-masks-list button:hover {
  background-color: var(--colorViolet10);
}

.fx-relay-menu-masks-list button:focus {
  background-color: var(--colorViolet05);
}

.fx-relay-menu-masks-list li.fx-relay-menu-masks-list-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.fx-relay-menu-masks-list-loading img {
  width: 24px;
  height: 24px;
  display: inline-block;
}

/* Premium Search List */
.fx-relay-menu-masks-search {
  height: 275px;
  background-color: var(--colorGrey10);
  padding: 8px;
}

.fx-relay-menu-masks-search.is-hidden {
  display: none;
}

.fx-relay-menu-masks-search-input {
  display: block;
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  background-color: var(--colorWhite);
  border: none;
  outline: 1px solid var(--colorGrey30);
}

.fx-relay-menu-content-footer {
  background-color: var(--colorWhite);
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.13);
}

.fx-relay-menu-content-footer .fx-relay-c-button {
  margin-bottom: 0;
}