.is-visible-with-addon {
    /* !important to ensure this overwrites website styles, regardless of specificity */
    display: initial !important;
    visibility: visible !important;
}

.is-hidden-with-addon {
    /* !important to ensure this overwrites website styles, regardless of specificity */
    display: none !important;
    visibility: collapse !important;
}
