name: continuous prerelease to GitHub

on:
  push:
    branches: [ "*" ]
  workflow_dispatch:

jobs:
  prepare-deployment:
    runs-on: ubuntu-20.04
    outputs:
      tag-slug: ${{ steps.determine-npm-tag.outputs.tag-slug }}
      deployment-id: ${{ fromJson(steps.create-deployment.outputs.result || '{}').id || 'Skipped for Dependabot' }}
    steps:
      - name: Create GitHub Deployment
        id: create-deployment
        uses: actions/github-script@v5
        with:
          script: |
            github.rest.repos.createDeployment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: context.sha,
              environment: "review",
              transient_environment: true,
              auto_merge: false,
              mediaType: {previews: ["flash", "ant-man"]},
              // The deployment runs in parallel with CI, so status checks will never have succeeded yet:
              required_contexts: [],
            })


  sign-tag-release:
    runs-on: ubuntu-latest
    steps:
      - name: Mark GitHub Deployment as in progress
        id: start-deployment
        uses: actions/github-script@v5
        with:
          script: |
            github.rest.repos.createDeploymentStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              //deployment_id: parseInt(process.env.DEPLOYMENT_ID, 10),
              deployment_id: process.env.DEPLOYMENT_ID,
              description: "Building add-on",
              environment: "review",
              log_url: `https://github.com/${context.repo.owner}/${context.repo.repo}/actions/runs/${context.runId}`,
              state: "in_progress",
              mediaType: {previews: ["flash", "ant-man"]},
            })
        env:
          # DEPLOYMENT_ID: "${{ steps.create-deployment.outputs.result.id }}"
          DEPLOYMENT_ID: "${{ needs.prepare-deployment.outputs.deployment-id }}"

      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Update translations"
        run: git submodule update --init --recursive --remote

      - name: "Set up node"
        uses: actions/setup-node@v2.4.0

      - name: "Install"
        run: npm install

      - name: "Lint"
        run: npm run lint

      - name: "Configure add-on for stage site"
        run: npm run config:stage

      - name: "Set YYYY.MM.DD.minutes version"
        id: version
        run: |
          export VERSION="$(date +%Y.%-m.%-d.)$(echo $(( $(date '+%-H *60 + %-M') )))"
          jq ".version = \"$VERSION\"" src/manifest.json > manifest.json~
          mv manifest.json~ src/manifest.json
          git diff
          echo ::set-output name=version::$(echo $VERSION)

      - name: "Sign"
        run: ./node_modules/.bin/web-ext sign -s src --channel=unlisted --api-key=${{ secrets.AMO_API_KEY }} --api-secret=${{ secrets.AMO_API_SECRET }}

      - name: "Tag"
        run: |
              git config user.name "GitHub Action: Sign, Tag, Release"
              git config user.email "<>"
              git tag ${{ steps.version.outputs.version }}
              git push origin --tags

      - name: "Make release notes"
        id: release_notes
        run: echo ::set-output name=release_notes::$(git log --no-merges --pretty=format:"%h %s" ${{ steps.version.outputs.version }}^..${{ steps.version.outputs.version }})

      - uses: actions/upload-artifact@v2
        with:
          name: fx-private-relay-stage.xpi
          path: web-ext-artifacts/firefox_relay-${{ steps.version.outputs.version }}-an+fx.xpi

      - uses: actions/github-script@v5
        id: get_artifact_links
        with:
          script: |
            github.rest.repos.listWorkflowRunArtifacts({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id: context.runId,
            })

      - name: Mark GitHub Deployment as successful
        uses: actions/github-script@v5
        with:
          script: |
            github.rest.repos.createDeploymentStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              deployment_id: parseInt(process.env.DEPLOYMENT_ID, 10),
              description: "Add-on built successfully.",
              environment: "review",
              environment_url: process.env.DOWNLOAD_URL,
              state: "success",
              mediaType: {previews: ["flash", "ant-man"]},
            })
        env:
          DOWNLOAD_URL: "${{ fromJson(steps.get_artifact_links.outputs.data).artifacts[0].archive_download_url }}"
          DEPLOYMENT_ID: "${{ needs.prepare-deployment.outputs.deployment-id }}"

      - name: Mark GitHub Deployment as failed
        uses: actions/github-script@v5
        if: failure()
        with:
          script: |
            github.rest.repos.createDeploymentStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              deployment_id: parseInt(process.env.DEPLOYMENT_ID, 10),
              description: "Build the add-on failed. Review the GitHub Actions log for more information.",
              log_url: `https://github.com/${context.repo.owner}/${context.repo.repo}/actions/runs/${context.runId}`,
              environment: "review",
              state: "failure",
              mediaType: {previews: ["flash", "ant-man"]},
            })
        env:
          DEPLOYMENT_ID: "${{ needs.prepare-deployment.outputs.deployment-id }}"

      ## This should theoretically be enough to publish the extension as a GitHub Release,
      ## except for sending the actual .xpi in the body of a request using octokit/request-action.
      ## Left in as documentation in case someone wants to finish this up:
      # - name: "Release"
      #   id: create_release
      #   uses: octokit/request-action@v2.1.0
      #   with:
      #     route: POST /repos/{owner}/{repo}/releases
      #     owner: mozilla
      #     repo: fx-private-relay-add-on
      #     prerelease: true
      #     tag_name: ${{ steps.version.outputs.version }}
      #     body: ${{ steps.release_notes.outputs.release_notes }}
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # - name: "Upload extension"
      #   uses: octokit/request-action@v2.1.0
      #   with:
      #     route: POST /repos/{owner}/{repo}/releases/{release_id}/assets
      #     owner: mozilla
      #     repo: fx-private-relay-add-on
      #     release_id: ${{ fromJson(steps.create_release.outputs.data).id }}
      #     body: # TODO: Figure out how to pass the binary data of
      #           #       ./web-ext-artifacts/firefox_relay-${{ steps.version.outputs.version }}-an+fx.xpi
      #           #       here.
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
